@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: "Story Script", sans-serif;
    background-color: black;
}

.logo{
    height: 60px;
    border: 1px;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    
}


nav{
    background-image: url(Pizzas/banner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 1px;
    border-style: solid;
    border-color: white;
    height: 80px;
    width: 100%;
    background-attachment: fixed;
    overflow: hidden;
    position: sticky;
    top: 0px;
    z-index: 10;
}


.enlace{
    position: absolute;
    padding: 10px 20px;
}

nav ul{
    float: right;
    margin-right: 15px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 3px;
}

nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 5px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: chocolate;
}

li a.active, li a:hover{
    background-color: rgb(200, 91, 91);
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 5px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

section{
    background-image: url(Pizzas/fondo\ inicio.gif);
    background-size: cover;
    background-position: center center;
    height: calc(80vh - 80px);
    background-attachment: fixed;
    
}


@media (max-width: 600px){
    .checkbtn{
        display: block;

    }

    ul{
        position: fixed;
        width: 100%;
        height: 520px;

        background-image: url(Pizzas/fondo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;


        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }


    nav ul{
    float: right;
    margin-right: 15px;
}

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
        background-color: black;
        color: red;
    }

    #check:checked ~ ul {
        left:0;
    }

  

}




.intro{
    color: white;
    text-align: center;
    margin: 30px;
}

.text-info{
    color: wheat;
}

.precio{
    color: white;
    border-collapse: collapse;
    background-color:burlywood;
    text-align: center;

    display: inline-flex;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

.precio h3{
    color: white;
}


.pizzas{
    padding: 0 auto;
    text-align: center;
    color: white;
}

.pizzas img{
    width: 300px;
    height: 250px;
    margin: 10px;
    border-radius: 15px;
    float: left;
}

.tipos{
    margin: 20px;
}

.bloquepizza{
    float: right;
    border-style: solid;
}